ADF/pipeline/Data_copy from source to raw datalake.json
{
	"name": "Data_copy from source to raw datalake",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata_JSON",
				"description": "This lookup activity is taking the details from the JSON file we created where we have source and sink information",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Dataset_JSON_Source_Info",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "Table_Source_Datalake.json",
							"container": "manualfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach-To traverse the json content",
				"description": "This activity will traverse the json array and give the output as item()",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata_JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata_JSON').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "IF_CHECK_CSV_or_ZIP",
							"description": "This activity will check the extension of file if it is csv or zip",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(split(item().Source_FileName,'.')[1],'csv')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data to sink if the files are zipped",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings",
														"preserveZipFileNameAsFolder": false
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false,
											"parallelCopies": 1,
											"dataIntegrationUnits": 2
										},
										"inputs": [
											{
												"referenceName": "Source_Binary",
												"type": "DatasetReference",
												"parameters": {
													"containerName": {
														"value": "@item().container_source",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().Source_FileName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Sink_Binary",
												"type": "DatasetReference",
												"parameters": {
													"containerName": {
														"value": "@item().container_sink",
														"type": "Expression"
													},
													"directory": {
														"value": "@concat(item().directory_sink,'/Date_Part=',formatDateTime(utcnow(),'yyyy-MM-dd'))",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().Sink_FileName",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data to sink if the file is csv",
										"description": "It will copy the data from source to sink based on csv extension and store in hierarchy format based on datepart",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"parallelCopies": 1,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Dataset_Source",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_source",
														"type": "Expression"
													},
													"directory": {
														"value": "@item().directory_source",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().Source_FileName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Dataset_SINK",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_sink",
														"type": "Expression"
													},
													"directory": {
														"value": "@concat(split(item().Sink_FileName,'.')[0],'/Date_Part=',formatDateTime(utcnow(),'yyyy-MM-dd'))",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().Sink_FileName",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-01-18T17:56:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}