ADF/pipeline/MART_TO_PUBLISH LAYER.json
{
	"name": "MART_TO_PUBLISH LAYER",
	"properties": {
		"activities": [
			{
				"name": "Lookup_publish_json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Dataset_JSON_Source_Info",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "publish.json",
							"container": "manualfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterating through json",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_publish_json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_publish_json').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"exportSettings": {
										"type": "AzureDatabricksDeltaLakeExportCommand"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "Linked_Service_ADLS_SINK",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								},
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "Linked_Service_ADLS_SINK",
											"type": "LinkedServiceReference"
										},
										"path": "manualfiles"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_DeltaLake",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().source_tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dataset_Sink_SQLDB",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().publish_tableName",
											"type": "Expression"
										},
										"databaseName": {
											"value": "@item().databaseName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}