ADF/pipeline/Master_Airline_Pipeline.json
{
	"name": "Master_Airline_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy data from REST to Sink",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy data from REST to Sink",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Data_copy from source to raw datalake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Data_copy from source to raw datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Data_copy from SQLDB to sink in parquet",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Data_copy from SQLDB to sink in parquet",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Refresh_Databricks_Notebook",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Refresh_Databricks_Notebook",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Copy data from REST to Sink",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Data_copy from source to raw datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Data_copy from SQLDB to sink in parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Refresh_Databricks_Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.layer_names_to_run",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Refresh_Databricks_Notebook_All",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Refresh_Databricks_Notebook",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Layer_Name": {
										"value": "@item().layer_names_to_run",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "MART_TO_PUBLISH LAYER",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MART_TO_PUBLISH LAYER",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"layer_names_to_run": {
				"type": "array",
				"defaultValue": [
					"Cleansed",
					"Data_Quality_Cleansed",
					"Mart"
				]
			}
		},
		"annotations": []
	}
}